openapi: 3.0.0
info:
  version: 1.0.0
  title: "BountyBust Web API"

externalDocs:
  description: More info can be found here.
  url: https://gitlab.up.pt/lbaw/lbaw2526/lbaw25146
servers:
  - url: http://lbaw.fe.up.pt
    description: Production server
tags:
  - name: "M01: Account creation and accessibility"
  - name: "M02: Bounties"
  - name: "M03: Answers"
  - name: "M04: Comments"
  - name: "M05: Tags"
  - name: "M06: Rating and award system"
  - name: "M07: Search and filters"
  - name: "M08: Platform regulation and information pages"
  - name: "M09: Notification system"

paths:
  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Get to the login form page. Access: PUB"
      tags:
        - "M01: Account creation and accessibility"
      responses:
        "200":
          description: "Ok. Login Form"
    post:
      operationId: R102
      summary: "R102: Login Action"
      description: "Check submitted user credentials from Login form. Access: PUB"
      tags:
        - "M01: Account creation and accessibility"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        "302":
          description: "Redirect after checking user credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Correct credentials, redirecting to profile."
                  value: "/users/{id}"
                302Error:
                  description: "User failed to connect, redirecting to login form."
                  value: "/login"
  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout of the currently authenticated account. Access: USR,MOD,ADM"
      tags:
        - "M01: Account creation and accessibility"
      responses:
        "302":
          description: "Redirect after logout"
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successfully logging out, redirecting to homepage"
                  value: "/"
  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Get register form page. Access: PUB"
      tags:
        - "M01: Account creation and accessability"
      responses:
        "200":
          description: "Ok. Register Form"
    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Handle new user account creation form. Access: PUB"
      tags:
        - "M01: Account creation and accessability"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                name:
                  type: string
                profile_picture:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password
                - name
      responses:
        "302":
          description: "Redirect after registering."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successfully authenticated, redirecting to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed to authenticate, redirecting to register Form"
                  value: "/login"
  /users/{id}:
    get:
      operationId: R106
      summary: "R106: View profile"
      description: "Showcase accounty features through personal profile. Access: USR, MOD, ADM"
      tags:
        - "M01: Account creation and accessibility"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show User profile"
  /users/{i}/edit:
    get:
      operationId: R107
      summary: "R107: Edit Profile Form"
      description: "Get the profile editing form for the authenticated user. Access: OWN, ADM"
      tags:
        - "M01: Account creation and accessibility"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Ok. Profile Edit Form"
    post:
      operationId: R108
      summary: "R108: Edit Profile Action"
      description: "Update user profile information submitted from the profile edit form. Access: OWN, ADM"
      tags:
        - "M01: Account creation and accessibility"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                name:
                  type: string
                bio:
                  type: string
                profile_picture:
                  type: string
                  format: binary
              required:
                - username
                - email
                - name
      responses:
        "302":
          description: "Redirect after editing profile."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Profile successfully updated, redirecting to profile page."
                  value: "/users/{id}"
                302Failure:
                  description: "Invalid data, redirecting back to profile edit form."
                  value: "/users/{id}/edit"
  /bounties:
    get:
      operationId: "R201"
      summary: "R201: List of Bounties"
      description: "Display of all posted bounties. Access: PUB"
      tags: 
        - "M02: Bounties"
      parameters:
        - name: page
          in: query
          schema: 
            type: integer
            default: 1
        - name: sort
          in: query
          schema: 
            type: string
            enum: [recent, rating,reward]
            default: recent
        - name: tag
          in: query
          schema:
            type: string 
      responses:
        "200": 
          description: "Bounties successfully retrieved."
          content:
            application/json: 
              schema: 
                type: array 
                items:
                  $ref: '#/components/schemas/Bounty'
  /bounties/create:
    post:
      operationId: "R202"
      summary: "R202: Create a new bounty"
      description: "Process newly created bounty from creation form. Access: USR,MOD,ADM"
      tags:
        - "M02: Bounties"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                reward:
                  type: number
                media: 
                  type: string
                  format: binary
              required: 
                - title
                - string 
      responses:
        "302":
          description: "Redirect after creating bounty."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Bounty created successfully, redirecting to bounty page."
                  value: "/bounties/{id}"
                302Failure:
                  description: "Invalid data, redirecting back to creation form."
                  value: "/bounties/create"
    get:
      operationId: "R203"
      summary: "R203: Getting bounty create Form"
      description: "Feching the form to create a new bounty. Access: USR, MOD, ADM."
      tags:
        - "M02: Bounties"
      responses:
        "200":
          description: "Ok. Bounty creation form."
  /bounties/{id}:
    get:
      operationId: "R204"
      summary: "R204: Bounty Details"
      description: "View the details of a bounty. Access: PUB"
      tags:
            - "M02: Bounties"
      parameters:
        - in: path 
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Ok. Returning bounty details."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bounty"
        "404":
          description: "Could not find Bounty with requested id."
    delete:
      operationId: "R205"
      summary: "R205: Delete Bounty"
      description: "Delete an existing bounty. Access: OWNER, MOD, ADM"
      tags:
        - "M02: Bounties"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after deleting bounty."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Bounty deleted successfully, redirecting to bounty list."
                  value: "/bounties"
                302Failure:
                  description: "Failed to delete bounty, redirecting back to bounty page."
                  value: "/bounties/{id}"
        "404":
          description: "Bounty not found."

  /bounties/{id}/edit:
    get:
      operationId: "R206"
      summary: "R206: Edit Bounty Form"
      description: "Get the bounty editing form for the authenticated user. Access: OWNER, MOD, ADM"
      tags:
        - "M02: Bounties"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Bounty Edit Form"
        "404":
          description: "Bounty not found."
    post:
      operationId: "R207"
      summary: "R207: Edit Bounty Action"
      description: "Update bounty information submitted from the bounty edit form. Access: OWNER, MOD, ADM"
      tags:
        - "M02: Bounties"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: "ID of the bounty to edit"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                reward:
                  type: number
                media:
                  type: string
                  format: binary
              required:
                - title
                - description
      responses:
        "302":
          description: "Redirect after editing bounty."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Bounty successfully updated, redirecting to bounty page."
                  value: "/bounties/{id}"
                302Failure:
                  description: "Invalid data, redirecting back to bounty edit form."
                  value: "/bounties/{id}/edit"
  /answers:
    get:
      operationId: "R301"
      summary: "R301: List of Answers"
      description: "Display all answers. Access: PUB"
      tags:
        - "M03: Answers"
      parameters:
        - name: bounty_id
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: sort
          in: query
          schema:
            type: string
            enum: [recent, rating]
            default: recent
      responses:
        "200":
          description: "Answers successfully retrieved."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Answer'
  /bounties/{bounty_id}/answers/create:
     get:
      operationId: "R302"
      summary: "R302: Getting answer create Form"
      description: "Fetching the form to create a new answer for a specific bounty. Access: USR, MOD, ADM."
      tags:
        - "M03: Answers"
      parameters:
        - in: path
          name: bounty_id
          required: true
          schema:
            type: integer
          description: "ID of the bounty being answered"
      responses:
        "200":
          description: "OK. Answer creation form."
     post:
      operationId: "R303"
      summary: "R303: Create a new answer"
      description: "Process newly created answer from creation form. Access: USR, MOD, ADM"
      tags:
        - "M03: Answers"
      parameters:
        - in: path
          name: bounty_id
          required: true
          schema:
            type: integer
          description: "ID of the bounty being answered"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                media:
                  type: string
                  format: binary
              required:
                - title
                - description
      responses:
        "302":
          description: "Redirect after creating answer."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Answer created successfully, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Invalid data, redirecting back to creation form."
                  value: "/bounties/{bounty_id}/answers/create"
  /answers/{id}:
    get:
      operationId: "R304"
      summary: "R304: Answer Details"
      description: "View the details of an answer. Access: PUB"
      tags:
        - "M03: Answers"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Returning answer details."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Answer"
        "404":
          description: "Could not find Answer with requested id."
    delete:
      operationId: "R305"
      summary: "R305: Delete Answer"
      description: "Delete an existing answer. Access: OWN, MOD, ADM"
      tags:
        - "M03: Answers"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after deleting answer."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Answer deleted successfully, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Failed to delete answer, redirecting back to answer page."
                  value: "/answers/{id}"
        "404":
          description: "Answer not found."
  /answers/{id}/edit:
    get:
      operationId: "R306"
      summary: "R306: Edit Answer Form"
      description: "Get the answer editing form for the authenticated user. Access: OWN, MOD, ADM"
      tags:
        - "M03: Answers"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Answer Edit Form"
        "404":
          description: "Answer not found."
    post:
      operationId: "R307"
      summary: "R307: Edit Answer Action"
      description: "Update answer information submitted from the edit form. Access: OWNER, MOD, ADM"
      tags:
        - "M03: Answers"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                media:
                  type: string
                  format: binary
              required:
                - title
                - description
      responses:
        "302":
          description: "Redirect after editing answer."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Answer successfully updated, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Invalid data, redirecting back to answer edit form."
                  value: "/answers/{id}/edit"

  /bounties/{bountyId}/comments:
    get:
      operationId: "R401"
      summary: "R401: Comments for a Bounty"
      description: "Display of all comments. Access: PUB"
      tags: 
        - "M04: Comments"
      parameters:
        - name: page
          in: query
          schema: 
            type: integer
            default: 1
      responses:
        "200": 
          description: "Comments successfully retrieved."
          content:
            application/json: 
              schema: 
                type: array 
                items:
                  $ref: '#/components/schemas/Content'
  /bounties/answers/{answerId}/comments:
    get:
      operationId: "R402"
      summary: "R402: Comments for an Answer"
      description: "Display of all comments. Access: PUB"
      tags: 
        - "M04: Comments"
      parameters:
        - name: page
          in: query
          schema: 
            type: integer
            default: 1
      responses:
        "200": 
          description: "Comments successfully retrieved."
          content:
            application/json: 
              schema: 
                type: array 
                items:
                  $ref: '#/components/schemas/Content'

  /bounties/{bountyId}/comments/create:
    get:
      operationId: "R403"
      summary: "R403: Comment creation form"
      description: "Get the comment creation form for the authenticated user. Access: USR, MOD, ADM"
      tags:
        - "M04: Comments"
      parameters:
        - in: path
          name: bountyId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Commment Create Form"
    post:
      operationId: "R404"
      summary: "R404: Create a new comment for a Bounty"
      description: "Process newly created comment from creation form. Access: USR,MOD,ADM"
      tags:
        - "M04: Comments"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "302":
          description: "Redirect after creating comment."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment created successfully, redirecting to bounty page."
                  value: "/bounties/{bountyId}"
                302Failure:
                  description: "Invalid data, redirecting back to bounty page."
                  value: "/bounties/{bountyId}"

  /bounties/answers/{answerId}/comments/create:
    get:
      operationId: "R405"
      summary: "R405: Comment creation form"
      description: "Get the comment creation form for the authenticated user. Access: USR, MOD, ADM"
      tags:
        - "M04: Comments"
      parameters:
        - in: path
          name: answerId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Commment create Form"
    post:
      operationId: "R406"
      summary: "R406: Create a new comment for an Answer"
      description: "Process newly created comment from creation form. Access: USR,MOD,ADM"
      tags:
        - "M04: Comments"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "302":
          description: "Redirect after creating comment."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment created successfully, redirecting to bounty page."
                  value: "/bounties/{bountyId}"
                302Failure:
                  description: "Invalid data, redirecting back to bounty page."
                  value: "/bounties/{bountyId}"

  /bounties/comments/{comment_id}/edit:
    get:
      operationId: "R407"
      summary: "R407: Comment edit form"
      description: "Get the comment edit form for the authenticated user. Access: USR, MOD, ADM"
      tags:
        - "M04: Comments"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Commment Edit Form"
        "404":
          description: "Answer not found."
    post:
      operationId: "R405"
      summary: "R405: Edit a comment for a Bounty"
      description: "Update comment information submitted from the edit form. Access: OWN, MOD, ADM"
      tags:
        - "M04: Comments"
      parameters:
        - in: path
          name: comment_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        "302":
          description: "Redirect after editing comment."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment successfully updated, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Invalid data, redirecting back to bounty page."
                  value: "/bounties/{bounty_id}"

  /bounties/comments/{comment_id}/delete:
    delete:
      operationId: "R406"
      summary: "R406: Delete Comment"
      description: "Delete an existing comment. Access: OWN, MOD, ADM"
      tags:
        - "M04: Comments"
      parameters:
        - in: path
          name: comment_id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after deleting comment."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment deleted successfully, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Failed to delete comment, redirecting back to bounty page."
                  value: "/bounties/{bounty_id}"
  /tags:
    get:
      operationId: "R501"
      summary: "R501: List of Tags"
      description: "Display of all tags. Access: PUB"
      tags:
        - "M05: Tags"
      responses:
        "200":
          description: "Tags successfully retrieved."
          content:
            application/json:
              schema:
              type : array
              items:
                $ref: '#/components/schemas/Tag'
          
  /tags/{Id}:
    get:
      operationId: "R502"
      summary: "R502: Tag Details"
      description: "Display the details of a specific tag. Access: PUB"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Tag details successfully retrieved."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
              
  /tags/create:
    get:
      operationId: "R503"
      summary: "R503: Tag creation form"
      description: "Get the tag creation form for the authenticated user. Access: ADM"
      tags:
        - "M05: Tags"
      responses:
        "200":
          description: "OK. Tag Create Form"
    post:
      operationId: "R504"
      summary: "R504: Create a new tag"
      description: "Process newly created tag from creation form. Access: ADM"
      tags:
        - "M05: Tags"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
              required:
                - name
                - description
      responses:
        "302":
          description: "Redirect after creating tag."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Tag created successfully, redirecting to tag list."
                  value: "/tags"
                302Failure:
                  description: "Invalid data, redirecting back to creation form."
                  value: "/tags/create"
  /tags/{Id}/delete:
    post:
      operationId: "R505"
      summary: "R505: Delete Tag"
      description: "Delete an existing tag. Access: ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after deleting tag."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Tag deleted successfully, redirecting to tag list."
                  value: "/tags"
                302Failure:
                  description: "Failed to delete tag, redirecting back to tag page."
                  value: "/tags/{Id}"
  /tags/{Id}/edit:
    get:
      operationId: "R506"
      summary: "R506: Edit Tag Form"
      description: "Get the tag editing form for the authenticated user. Access: ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "OK. Tag Edit Form"
        "404":
          description: "Tag not found."
    post:
      operationId: "R507"
      summary: "R507: Edit Tag Action"
      description: "Update tag information submitted from the tag edit form. Access: ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
              required:
                - name
                - description
      responses:
        "302":
          description: "Redirect after editing tag."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Tag successfully updated, redirecting to tag page."
                  value: "/tags/{Id}"
                302Failure:
                  description: "Invalid data, redirecting back to tag edit form."
                  value: "/tags/{Id}/edit"
  /tags/{Id}/follow:
    post:
      operationId: "R508"
      summary: "R508: Follow Tag"
      description: "Follow an existing tag. Access: USR, MOD, ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after following tag."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Tag followed successfully, redirecting to tag page."
                  value: "/tags/{Id}"
                302Failure:
                  description: "Failed to follow tag, redirecting back to tag page."
                  value: "/tags/{Id}"
    delete:
      operationId: "R509"
      summary: "R509: Unfollow Tag"
      description: "Unfollow an existing tag. Access: USR, MOD, ADM"
      tags:
        - "M05: Tags"
      parameters:
        - name: Id
          in: path
          required: true
          schema: 
            type: integer
      responses:
        "200":
          description: "Tag unfollowed successfully."
  /users/{userId}/tags:
    get:
      operationId: "R510"
      summary: "R510: List of followed Tags by User"
      description: "Display of all tags followed by a user. Access: USR, MOD, ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Tags successfully retrieved."
          content:
            application/json:
              schema:
              type : array
              items:
                $ref: '#/components/schemas/Tag'
  /tags/{Id}/bounties:
    get:
      operationId: "R511"
      summary: "R511: List of Bounties for a Tag"
      description: "Display of all bounties associated with a tag. Access: PUB"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Bounties successfully retrieved."
          content:
            application/json:
              schema:
              type : array
              items:
                $ref: '#/components/schemas/Bounty'
  /bounties/{Id}/tags:
    get:
      operationId: "R512"
      summary: "R512: Add Tags to a Bounty"
      description: "Add a new tag to a bounty. Access: OWN, MOD, ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after following tag."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Tag added successfully, redirecting to bounty page."
                  value: "/bounties/{id}"
                302Failure:
                  description: "Failed to add tag, redirecting back to bounty page."
                  value: "/bounties/{Id}"
  /bounties/{bountyId}/tags/{tagId}:
    delete:
      operationId: "R513"
      summary: "R513: Remove Tag from a Bounty"
      description: "Remove an existing tag from a bounty. Access: OWN, MOD, ADM"
      tags:
        - "M05: Tags"
      parameters:
        - in: path
          name: bountyId
          required: true
          schema:
            type: integer
        - in: path
          name: tagId
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after removing tag."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Tag removed successfully, redirecting to bounty page."
                  value: "/bounties/{bountyId}"
                302Failure:
                  description: "Failed to remove tag, redirecting back to bounty page."
                  value: "/bounties/{bountyId}"
  /bounties/{Id}/upvote:
    post:
      operationId: "R601"
      summary: "R601: Upvote a Bounty"
      description: "Upvote an existing bounty. Access: USR, MOD, ADM"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after upvoting bounty."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Bounty upvoted successfully, redirecting to bounty page."
                  value: "/bounties/{Id}"
                302Failure:
                  description: "Failed to upvote bounty, redirecting back to bounty page."
                  value: "/bounties/{Id}"

  /bounties/{Id}/downvote:
    post:
      operationId: "R602"
      summary: "R602: Downvote a Bounty"
      description: "Downvote an existing bounty. Access: USR, MOD, ADM"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after downvoting bounty."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Bounty downvoted successfully, redirecting to bounty page."
                  value: "/bounties/{Id}"
                302Failure:
                  description: "Failed to downvote bounty, redirecting back to bounty page."
                  value: "/bounties/{Id}"

  /answers/{Id}/upvote:
    post:
      operationId: "R603"
      summary: "R603: Upvote an Answer"
      description: "Upvote an existing answer. Access: USR, MOD, ADM"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after upvoting answer."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Answer upvoted successfully, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Failed to upvote answer, redirecting back to bounty page."
                  value: "/bounties/{bounty_id}"
  /answers/{Id}/downvote:
    post:
      operationId: "R604"
      summary: "R604: Downvote an Answer"
      description: "Downvote an existing answer. Access: USR, MOD, ADM"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after downvoting answer."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Answer downvoted successfully, redirecting to bounty page."
                  value: "/bounties/{bounty_id}"
                302Failure:
                  description: "Failed to downvote answer, redirecting back to bounty page."
                  value: "/bounties/{bounty_id}"
  /comments/{Id}/upvote:
    post:
      operationId: "R605"
      summary: "R605: Upvote a Comment"
      description: "Upvote an existing comment. Access: USR, MOD, ADM"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after upvoting comment."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Comment upvoted successfully, redirecting to previous page."
                  value: "/previous_page"
                302Failure:
                  description: "Failed to upvote comment, redirecting back to previous page."
                  value: "/previous_page"
  /bounties/{Id}/reward:
    post:
      operationId: "R606"
      summary: "R606: Reward an Answer"
      description: "Reward an answer for a bounty. Access: OWN, MOD, ADM"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: Id
          required: true
          schema:
            type: integer
        - in: query
          name: answer_id
          required: true
          schema:
            type: integer
      responses:
        "302":
          description: "Redirect after rewarding answer."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Answer rewarded successfully, redirecting to bounty page."
                  value: "/bounties/{Id}"
                302Failure:
                  description: "Failed to reward answer, redirecting back to bounty page."
                  value: "/bounties/{Id}"
  /leaderboard:
    get:
      operationId: "R607"
      summary: "R607: Leaderboard"
      description: "Display the leaderboard of top users based on rewards earned. Access: PUB"
      tags:
        - "M06: Rating and award system"
      responses:
        "200":
          description: "Leaderboard successfully retrieved."
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LeaderboardUser"
              example:
                total: 3
                data:
                  - userId: 1
                    name: "JohnDoe"
                    points: 5400
                  - userId: 4
                    name: "Maria"
                    points: 4300
                  - userId: 21
                    name: "CubeDev"
                    points: 3290
  /users/{id}/badges:
    get:
      operationId: "R608"
      summary: "R608: User Badges"
      description: "Display all badges earned by a user. Access: PUB"
      tags:
        - "M06: Rating and award system"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Badges successfully retrieved."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Badge"
              example:
                - id: 1
                  name: "First Question"
                  type: "bronze"
                - id: 4
                  name: "Helpful Answer"
                  type: "silver"
  /badges:
    get:
      operationId: "R609"
      summary: "R609: List of Badges"
      description: "Display all available badges. Access: PUB"
      tags:
        - "M06: Rating and award system"
      responses:
        "200":
          description: "Badges successfully retrieved."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Badge"
              example:
                - id: 1
                  name: "First Question"    
                  type: "bronze"
                - id: 2
                  name: "Popular Question"
                  type: "silver"
                - id: 3
                  name: "Master Contributor"
                  type: "gold"
  

components:
  schemas:
    Content:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date
        description:
          type: string
        rating:
          type: number
          format: float
          default: 0
          minimum: 0
          maximum: 5
        user_id:
          type: integer
        version:
          type: integer
          default: 1
        edit_date:
          type: string
          format: date
      required:
        - id
        - date
        - description
        - rating
        - user_id
        - version
        - edit_date
    Bounty:
      allOf:
        - $ref: "#/components/schemas/Content"
        - type: object
          properties:
            title:
              type: string
            media:
              type: string
              format: binary
            reward:
              type: number
              default: 50
              minimum: 1
          required:
            - title
            - reward
    Answer:
      allOf:
        - $ref: "#/components/schemas/Content"
        - type: object
          properties:
            title:
              type: string
            media:
              type: string
              format: binary 
    Tag:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        ##color:
          ##type: string

    LeaderboardUser:
      type: object
      properties:
        userId:
          type: integer
        name:
          type: string
        points:
          type: integer
      required: [userId, name, points]

    Badge:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [bronze, silver, gold]
      required: [id, name, type]


          
