body {
    background-color: var(--background-color);
    > * {
        font-family: var(--body-font);
    }
}

.logo {
    max-height: 80px;
    width: auto;
}

header ul.navbar-nav li:last-child i:hover {
    color: var(--primary-color);
}

.form-links {
    margin-right: 1em;
    a {
        font-weight: bold;
        padding: 0.5em;
        &:first-child {
            &:hover {
                color: var(--terciary-color);
            }
        }
        &:nth-child(2) {
            border: 1px solid var(--sand-color);
            &:hover {
                background-color: var(--sand-color);
                color: var(--terciary-color);
            }
        }
    }
}

.profileIcon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.profilePreview{
    a{
        text-decoration: none;
    }
}


#mostWanted{
    border: 1px solid var(--sand-color);
    background-color: #efdfcd;
    > h2{
        font-family: var(--heading-font);
        color: var(--primary-color);
    }
}