:root{
    --primary-color:#7c0909;
    --secondary-color: #64563c;
    --terciary-color: #0D546B;
    --wood-color: #6F3317;
    --sand-color: #cbb89c;
    --card-color: #DECBB6;
    --background-color: white;

    --logo-font: 'Rye', serif;
    --heading-font: 'Rancho', cursive;
    --body-font: 'Inter', sans-serif;  
}